 body {
     font-family: Arial, sans-serif;
     margin: 20px;
 }

 h2 {
     color: #333;
     text-align: center;
 }

 .container {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 .section {
     margin: 20px;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     width: 200px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 .section h3 {
     text-align: center;
     margin-bottom: 10px;
 }

 .links a {
     display: block;
     margin: 5px 0;
     color: #007BFF;
     text-decoration: none;
     text-align: center;
 }

 .links a:hover {
     text-decoration: underline;
 }

 #backButton {
     width: 10%;
     padding: 10px;
     background-color: #0056b3;
     color: white;
     border: none;
     border-radius: 3px;
     cursor: pointer;
     font-size: 16px;
     margin-top: 30px;
 }

  #buttondiv {
      display: flex;
      justify-content: center;
      /* Centra horizontalmente */
     
    
      /* Ajusta según sea necesario */
  }

  .button {
      display: inline-block;
      background-color: #007BFF;
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
  }

  .button:hover {
      background-color: #0056b3;
  }