#tabla {
    margin-top: 40px;    
}

.tableheading {
    margin: 5px;
    background-color: ghostwhite;
}

table.w3-table tr:nth-child(even) {
    background-color: lightblue;   
}

td {
    font-size: 12px;
}

th {
    font-weight: 500;
}

.botoncontacto
{
    background-color: white;
    margin-right: 5px;
    border: 0.5px solid lightgray;
    border-radius: 5px;;
}

.botoncontacto:hover {
     background-color: lightgrey;
    border: 0.5px solid black;
}
